<!DOCTYPE html>
<html>
  <head>
    <title>RenterPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex h-screen bg-gray-100">
    <div class="bg-gray-800 text-white w-64 p-4">
      <%= render 'layouts/sidebar' %>
    </div>

    <div class="flex-1 p-10">
      <!-- Conteúdo Principal -->
      <%= yield %>
    </div>
  </body>
</html>
